#ifdef __LCC__
#include <windows.h>
#endif
#include "worldtrackerres.h"

IDI_WORLDTRACKER ICON "worldtracker.ico"
IDB_OVERVIEW BITMAP "world.topo.200412.3x360x180.bmp"
IDB_LOGO BITMAP "worldtrackerlogo.bmp"
IDI_LOCK ICON "padlock16.ico"

IDD_ABOUT DIALOG 6, 18, 254, 180
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About WorldTracker"
FONT 9, "MS Shell Dlg 2"
BEGIN
    CONTROL         IDB_LOGO,IDC_STATIC,"Static",SS_BITMAP|SS_CENTERIMAGE|SS_SUNKEN,7,7,240,56

   LTEXT "WorldTracker", IDC_STATIC, 7, 67, 60, 10
   LTEXT "Copyright © 2016 Tristan Burtenshaw",IDC_STATIC, 7, 77, 141, 10
   LTEXT "Download and view your Google Location History JSON. Export to Google Maps .KML files to view them on the globe.", IDC_STATIC, 7, 97, 244, 42
   LTEXT "https://github.com/tburtenshaw/worldtracker", IDC_STATIC, 7, 125, 239, 18
   LTEXT __DATE__ , IDC_STATIC, 7, 163, 60, 10



	DEFPUSHBUTTON   "OK", IDOK, 209, 159, 40, 14
END
IDMAINMENU MENU
BEGIN
    POPUP "&File"
        BEGIN
        MENUITEM "&New", IDM_NEW
        MENUITEM "&Open...\tCtrl+O", IDM_OPEN
        MENUITEM "&Export...", IDM_SAVE
        MENUITEM "&Close", IDM_CLOSE
        MENUITEM "E&xit", IDM_EXIT
        END
    POPUP "&Help"
        BEGIN
        MENUITEM "&About", IDM_ABOUT
        END
END
IDACCEL ACCELERATORS
BEGIN
    "O", IDM_OPEN, VIRTKEY, CONTROL
END
STRINGTABLE
BEGIN
    IDM_NEW, "Creates a new document"
    IDM_OPEN, "Opens a JSON for viewing"
    IDM_SAVE, "Exports the current viewpoint to a Google KML file"
    IDM_CLOSE, "Closes the current JSON"
    IDM_EXIT, "Quits WorldTracker"
    IDM_ABOUT, "Displays information about WorldTracker"
    IDS_FILEMENU, "Create, open, save, or print documents"
    IDS_HELPMENU, "Get help"
	ID_EDITNORTH, "Enter the latitude of the North border"
	ID_EDITSOUTH, "Enter the latitude of the South border"
	ID_EDITWEST, "Enter the latitude of the West border"
	ID_EDITEAST, "Enter the latitude of the East border"
	ID_EDITPRESET, "Enter a preset to load a preset location"
	ID_EDITDATEFROM, "Enter the first date to display (YYYY-MM-DD format)"
	ID_EDITCOLOURCYCLE, "Enter the number of seconds that it should take to cycle through the spectrum"
END
