/* Wedit generated resource file */
#ifdef __LCC__
#include <windows.h>
#endif
#include "worldtrackerres.h"

IDI_WORLDTRACKER ICON "worldtracker.ico"
IDB_OVERVIEW BITMAP "world.topo.200412.3x360x180.bmp"
IDB_LOGO BITMAP "worldtrackerlogo.bmp"
IDI_LOCK ICON "padlock16.ico"

IDD_ABOUT DIALOG 6, 18, 254, 180
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About WorldTracker"
FONT 9, "MS Shell Dlg 2"
BEGIN
    CONTROL         IDB_LOGO,IDC_STATIC,"Static",SS_BITMAP|SS_CENTERIMAGE|SS_SUNKEN,7,7,240,56

   LTEXT "WorldTracker", IDC_STATIC, 7, 67, 60, 10
   LTEXT "Copyright © 2016 Tristan Burtenshaw",IDC_STATIC, 7, 77, 141, 10
   LTEXT "Download your Google Location History JSON and view them. Export to Google Maps .KML files to view them on the globe.", IDC_STATIC, 7, 97, 244, 42
   LTEXT "https://github.com/tburtenshaw/worldtracker", IDC_STATIC, 7, 125, 239, 18
   LTEXT __DATE__ , IDC_STATIC, 7, 163, 60, 10



	DEFPUSHBUTTON   "OK", IDOK, 209, 159, 40, 14
END
IDMAINMENU MENU
BEGIN
    POPUP "&File"
        BEGIN
        MENUITEM "&New", IDM_NEW
        MENUITEM "&Open", IDM_OPEN
        MENUITEM "&Export", IDM_SAVE
        MENUITEM "E&xit", IDM_EXIT
        END
    POPUP "&Help"
        BEGIN
        MENUITEM "&About", IDM_ABOUT
        END
END
300 ACCELERATORS
BEGIN
    81, 300, VIRTKEY, CONTROL
END
STRINGTABLE
BEGIN
    200, "Creates a new document"
    210, "Opens an existing document"
    220, "Saves the active document"
    230, "Saves the active document under a different name"
    240, "Closes the active document"
    300, "Quits this application"
    500, "Displays information about this application"
    2000, "Create, open, save, or print documents"
    2010, "Get help"
END
